@using Luciarr.WebApi.Models.Sonarr
@using Luciarr.WebApi.Controllers
@using Microsoft.AspNetCore.Mvc;

@inject SonarrController _sonarrController

@if (showAlert)
{
    <Alert Color="@alertColor">
        <Icon Name="@alertIconName" class="me-2"></Icon> @alertMessage
    </Alert>
}
Overall
<div class="progress" role="progressbar">
    <div class="progress-bar bg-warning text-dark @SeriesClasses" style="width: @SeriesDownloadPercent">@SeriesDownloadPercent</div>
</div>

@foreach (var season in Series.Seasons.Where(x => x.SeasonNumber != 0).OrderBy(x => x.SeasonNumber))
{
    var barColor = season.Statistics.PercentOfEpisodes != 100 ? "bg-primary" : "bg-success";
    var seasonPercent = Math.Round(season.Statistics.PercentOfEpisodes) + "%";
    var seasonText = $"Season {season.SeasonNumber}";
    var finishedClass = season.Statistics.PercentOfEpisodes != 100 ? "progress-bar-striped progress-bar-animated" : "progress-bar-striped";

    <div class="mt-2">@seasonText</div>
    <div class="progress" role="progressbar">
        <div class="progress-bar @barColor @finishedClass" style="width: @seasonPercent">@seasonPercent</div>
    </div>
}
<hr/>
<div class="mt-2">
    <Button @onclick="OnRefresh" Color="ButtonColor.Success">Hide</Button>
    <Button @onclick="OnUnhide" Color="ButtonColor.Danger">Unhide</Button>
</div>

@code {
    [Parameter]
    public SonarrSeries Series { get; set; }

    public string SeriesDownloadPercent => Math.Round(Series.Statistics.PercentOfEpisodes) + "%";
    public string SeriesBarColor => Series.Statistics.PercentOfEpisodes != 100 ? "bg-primary" : "bg-success";
    public string SeriesClasses => Series.Statistics.PercentOfEpisodes != 100 ? "progress-bar-striped progress-bar-animated" : "progress-bar-striped";

    bool showAlert = false;
    AlertColor alertColor = AlertColor.Success;
    IconName alertIconName = IconName.CheckCircleFill;
    string alertMessage = "";

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private async Task OnRefresh()
    {
        var response = await _sonarrController.PostDownloadWebhook(new SonarrController.WebhookDownloadPayload()
        {
            EventType = "Download",
            Series = new SonarrController.WebhookSeries()
            {
                TvdbId = Series.TvdbId,
                Title = Series.Title,
                Year = Series.Year
            },
            Episodes = new List<SonarrController.WebhookEpisode>
            {
                new SonarrController.WebhookEpisode()
                {
                    SeasonNumber = 0,
                    EpisodeNumber = 0
                }
            }
        });

        if (response is OkResult)
        {
            alertColor = AlertColor.Success;
            alertIconName = IconName.CheckCircleFill;
            alertMessage = "Hiding Success!";
        } 
        else
        {
            alertColor = AlertColor.Danger;
            alertIconName = IconName.ExclamationTriangleFill;
            alertMessage = "Something went wrong! Please check the logs.";
        }

        showAlert = true;
    }

    private async Task OnUnhide()
    {
        var response = await _sonarrController.PostUnhideRequest(new SonarrController.UnhideRequest() { TvdbId = Series.TvdbId });

        if (response is OkResult)
        {
            alertColor = AlertColor.Success;
            alertIconName = IconName.CheckCircleFill;
            alertMessage = "Unhiding Success!";
        }
        else
        {
            alertColor = AlertColor.Danger;
            alertIconName = IconName.ExclamationTriangleFill;
            alertMessage = "Something went wrong! Please check the logs.";
        }

        showAlert = true;
    }
}
